:root {
  --color--primary: #b21f2e;
  --color--secondary: #ffdba9;
  --color--secondary--OOI: #fccd8b;
  --color--secondary--OII: #ecbe7e;
  --color--secondary--III: #deb377;
  --color--black: #000000;
  --font-family--primary: 'Nunito', sans-serif;
  --font-size--OOI: 8px;
  --font-size--OII: 12px;
  --font-size--III: 14px;
  --font-size--OVI: 16px;
  --font-size--OOV: 18px;
  --font-size--OIV: 20px;
  --font-size: var(--font-size--OVI);
  --input---width: 100%;
  --input---height: 30px;
  --input---border-weight: 1px;
  --input---border: var(--input---border-weight) solid var(--color--primary);
  --input---border-radius: none;
  --input---padding: 5px 10px;
  --input---color: var(--color--primary);
  --input---background: transparent;
  --input---font-family: var(--font-family--primary);
  --input---font-size: var(--font-size);
  --input--placeholder---font-style: italic;
  --input--placeholder---color: var(--color--secondary--III);
  --input--focus---width: calc(
    calc(var(--input---width) + calc(var(--input---border-weight) * 2)) - calc(var(--input--focus---border-weight) * 2)
  );
  --input--focus---height: calc(
    calc(var(--input---height) + calc(var(--input---border-weight) * 2)) - calc(var(--input--focus---border-weight) * 2)
  );
  --input--focus---border-weight: 4px;
  --input--focus---border: var(--input--focus---border-weight) solid var(--color--primary);
}

cuoore-input-text {
  --input-text---width: var(--input---width);
  --input-text---height: var(--input---height);
  --input-text---border: var(--input---border);
  --input-text---border-radius: var(--input---border-radius);
  --input-text---padding: var(--input---padding);
  --input-text---color: var(--input---color);
  --input-text---background: var(--input---background);
  --input-text---font-family: var(--input---font-family);
  --input-text---font-size: var(--input---font-size);
  --input-text--placeholder---color: var(--input--placeholder---color);
  --input-text--placeholder---font-style: var(--input--placeholder---font-style);
  --input-text--focus---border: var(--input--focus---border);
  --input-text--focus---width: var(--input--focus---width);
  --input-text--focus---height: var(--input--focus---height);
}

cuoore-loading {
  --loading---width: 100px;
  --loading--small---width: 50px;
  --loading--big---width: 150px;
  --loading---height: 100px;
  --loading--small---height: 50px;
  --loading--big---height: 150px;
  --loading-primary---opacity: 0.8;
  --loading-secondary---opacity: 0.2;
  --loading-primary---color: var(--color--primary);
  --loading-secondary---color: var(--color--secondary);
}
